.logoImg {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 0.5rem;
}
.logIn {
  text-align: center;
}
.logInButton {
  margin: 0.5rem;
}
.container {
  display: flex;
  justify-content: space-around;
  border: black solid 1px;
  align-items: center;
  padding: 5px;
}
.section1 {
}
.section2 {
}

.section3 {
  font-size: 50px;
}
.text__heder {
  flex-basis: 25%;
  margin: 0%;
  text-align: center;
}
