.container__main {
  display: flex;

  align-items: center;
  padding: 5px;
  flex: 3 25%;
  flex-wrap: wrap;
}
.container__checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}
.section1 {
  flex: 1 25%;
}
.section2 {
  flex: 2 50%;
}
.section3 {
  text-align: center;
  flex: 3 25%;
  font-size: 50px;
}
.text__heder {
  flex-basis: 25%;
  margin: 0%;
  text-align: center;
}
.bodyTable {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  width: 25%;
  height: 50px;
  border: solid 1px;
}
.p {
  color: rgb(138, 2, 2);
  margin: 0px;
}
.p__div {
  margin-bottom: 2px;
}
.p__ul {
  margin-bottom: 2px;
}
.header__titel {
  margin-left: 10px;
}
.header__list {
  margin-left: 10px;
}
